html, body {
    margin: 0;
    padding: 0;
    font-family: 'Mountains of Christmas', serif;
}

body {
    padding-top: 1em;
    text-align: center;
    background-color: skyblue;
    background-size: cover;
    }

canvas {
    background-image: url("./img/Mountbaker.jpeg");
    background-size: cover;
    width: 100%;
    height: 100;
}

#container {
    max-width: 1000px;
    /* height: 70vh; */
    background-color: rgba(5, 153, 62, 0.682);
    margin: 0 auto;
    padding: 1em;
    display: grid;
    gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-left top-right"
                          "game game game"
                          "btm-left btm-right btm-right";
    }
#top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-left {
    grid-area: top-left;
}
#top-right {
    grid-area: top-right;
}

main {
    grid-area: game;
}

#btm-left {
    grid-area: btm-left;
}

#btm-right {
    grid-area: btm-right;
}